@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background-color: rgba(54, 125, 233, 0.877);
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid grey;
  border-radius: 10px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-image {
  width: 50%;
  height: auto;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background-image: linear-gradient(to bottom right, rgba(54, 60, 233, 0.877), rgba(54, 125, 233, 0.877));
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: whitesmoke;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-users {
  float: right;
  color:whitesmoke;
  padding-right: 10px;
  line-height: 60px;
  font-size: 16px;
}